.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--secondary-color); /* Background color based on theme */
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    color: var(--text-color); /* Text color based on theme */
}

.profile-container:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.profile-content {
    display: grid;
    gap: 20px;
}

.profile-section {
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.profile-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.profile-section h2 {
    border-bottom: 2px solid var(--section-heading-border); /* Primary color for section headings */
    padding-bottom: 10px;
    color: var(--text-color); /* Dark gray text for headings */
}

/* Additional styles for the ScrollToTopButton component */
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--scroll-to-top-button-bg); /* Primary color for button background */
    color: var(--button-text); /* White text color for contrast */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scroll-to-top-button:hover {
    background-color: var(--scroll-to-top-button-hover); /* Slightly darker shade on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.scroll-to-top-button::before {
    content: '↑'; /* Arrow icon for the button */
    font-size: 24px;
}
