/* ScrollToTopButton.css */

.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0c9ba1; /* Primary color for button background */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scroll-to-top-button:hover {
    background-color: #009a9a; /* Slightly darker shade on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
